<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> Add a puppy for adoption </h2>

    <form action='/new' method='POST'>
      Name <br>
      <input type = "text" name = "name"><br>
      Breed <br>
      <input type = "text" name = "breed"><br>
      Age <br>
      <input type = "text" name = "age"><br>
      <br>
      <input type = "submit" value = "submit">

  </body>
</html>
